@font-face {
  font-family: AzeretL;
  src: url(../../fonts/AzeretMono-ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: RandomMedium;
  src: url(../../fonts/RG-StandardMedium.ttf) format("truetype");
}

.g-container-projects {
  margin-top: 70px;
  & hr {
    background-color: #bff102;
    margin-bottom: 20px;
    height: 2px;
    border: none;
  }
}

.g-container-dataProjects {
  display: flex;
  flex-direction: column;
}
.order {
  color: #bff102;
  font-family: AzeretL;
  display: inline;
}

.title {
  font-size: 180px;
  font-family: RandomMedium;
  line-height: 165px;
  margin-top: 25px;
}

.btn-p {
  display: flex;
  justify-content: flex-end;
  margin-top: 220px;
}

.view-projects {
  color: #bff102;
  font-size: 20px;
  font-family: AzeretL;
}

.order-title {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}

.container-order {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-dataProjects {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  padding-left: 5em;
  padding-right: 2em;
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 100px;
    word-wrap: break-word;
    line-height: 85px;
  }

  .btn-p {
    margin-top: 110px;
  }

  .order-title {
    display: block;
  }

  .g-container-dataProjects {
    width: 100%;
  }

  .container-dataProjects {
    flex-direction: column;
    padding: 0 0 5em 0;
    border-bottom: solid 2px #bff102;
    margin-top: 50px;
    & h3 {
      margin-left: 20px;
    }
  }

  .g-container-projects {
    padding: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .g-container-dataProjects {
    width: 80%;
  }

  .container-dataProjects {
    word-break: break-word;
    padding-left: 3em;
  }
}
