@font-face {
  font-family: AzeretL;
  src: url(../../fonts/AzeretMono-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: RG;
  src: url(../../fonts/AzeretMono-Regular.ttf) format("truetype");
}

.g-container-why {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 2em;
  margin-top: 10em;
}

.g-container-whyComponent {
  width: 70%;
}
.container-content {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 2em;
  border-bottom: solid 2px #bff102;
  justify-content: space-between;
  font-family: AzeretL;
  & p {
    margin-bottom: 5px;
  }
}

.dropdownContent {
  font-family: AzeretL;
  font-size: 1.5em;
  margin-bottom: 2em;
  & p {
    text-align: center;
  }
}

.faq-container {
  display: flex;
  justify-content: center;
  margin-top: 10em;
  & p {
    font-family: RG;
    font-size: 180px;
  }
}

@media screen and (max-width: 767px) {
  .g-container-whyComponent {
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    & img {
      width: 25px;
      height: 25px;
      margin-bottom: 1em;
    }
  }

  .container-content {
    width: 85%;
    height: 7em;
    flex-direction: column;
    & p {
      text-align: center;
      font-size: 16px;
    }
  }

  .g-container-why {
    padding: 0;
    margin-top: 90px;
  }

  .faq-container {
    margin-top: 90px;
    & p {
      font-size: 20vw;
    }
  }

  .dropdownContent {
    padding: 0 1em;
    font-size: 0.6em;

    & p {
      text-align: center;
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .g-container-whyComponent {
    width: 100%;
  }

  .g-container-why {
    padding: 0 2em;
  }

  .container-content p {
    font-size: 17px;
  }

  .dropdownContent {
    font-size: 22px;
  }

  .faq-container p {
    font-size: 140px;
  }
}
