@font-face {
  font-family: AzeretR;
  src: url(../../fonts/AzeretMono-Regular.ttf) format("truetype");
}
@font-face {
  font-family: AzeretL;
  src: url(../../fonts/AzeretMono-ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: Random;
  src: url(../../fonts/RG-StandardBold.ttf) format("truetype");
}

.g-container-about {
  margin-top: 100px;
  padding-left: 5em;
  padding-right: 5em;
}

.first-block {
  display: flex;
  padding-right: 6em;

  justify-content: space-between;
  & p {
    font-family: AzeretL;
    white-space: pre-line;
  }
}

.second-block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  font-size: 12vw;
  & p {
    font-family: Random;
  }
}
.third-block {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  & p {
    font-family: AzeretL;
  }
}

.sentence-about-me {
  width: 50vw;
  font-size: 30px;
  padding-right: 2em;
}

p {
  color: #bff102;
}

h3 {
  color: #bff102;
  font-family: AzeretL;
}

@media screen and (min-width: 280px) and (max-width: 767px) {
  .g-container-about {
    padding: 0;
    margin-top: 30px;
  }
  .first-block {
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;

    & p {
      width: 40%;
      font-size: 15px;
    }
  }
  .second-block {
    text-align: center;
    font-size: 25vw;
  }

  .third-block {
    justify-content: space-between;
    margin-top: 30px;
    gap: 2em;
  }
  .sentence-about-me {
    font-size: 15px;
    justify-content: start;
    width: 55%;
  }

  h3 {
    font-size: 16px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .g-container-about {
    padding: 0 3em;
  }

  .first-block {
    padding: 0;
  }

  .sentence-about-me p {
    font-size: 20px;
  }
}
