@font-face {
  font-family: AzeretL;
  src: url(../../fonts/AzeretMono-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: RG;
  src: url(../../fonts/AzeretMono-Regular.ttf) format("truetype");
}

.g-container-why {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 2em;
  margin-top: 10em;
}

.g-container-whyComponent {
  width: 60%;
}
.container-content {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 2em;
  border-bottom: solid 2px #bff102;
  justify-content: space-between;
  font-family: AzeretL;
  & p {
    margin-bottom: 5px;
  }
}

.dropdownContent {
  font-family: AzeretL;
  font-size: 1.5em;
  padding-right: 2em;
  margin-bottom: 2em;
}

.faq-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  & p {
    font-family: RG;
  }
}

@media screen and (max-width: 767px) {
  .faq-container p {
    font-size: 25px;
  }

  .g-container-whyComponent {
    width: 100%;
    font-size: 10px;
    & img {
      width: 25px;
      height: 25px;
    }
  }

  .g-container-why {
    padding: 0;
    margin-top: 90px;
  }

  .faq-container {
    margin-top: 90px;
    & p {
      font-size: 70px;
    }
  }
}
