@font-face {
  font-family: AzeretL;
  src: url(../../fonts/AzeretMono-ExtraLight.ttf) format("truetype");
}

.g-container-why {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 2em;
  margin-top: 10em;
}

.g-container-whyComponent {
  width: 50%;
}
.container-content {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 2em;
  border-bottom: solid 2px #bff102;
  justify-content: space-between;
  font-family: AzeretL;
  & p {
    margin-bottom: 5px;
  }
}

.dropdownContent {
  font-family: AzeretL;
  font-size: 1.5em;
  padding-right: 2em;
  margin-bottom: 2em;
}
