@font-face {
  font-family: NavFont;
  src: url(../../fonts/Inter-Regular.ttf) format("truetype");
}

nav {
  display: flex;
  margin: 4em 0 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #1b2b1c;
  color: #bff102;
  justify-content: space-evenly;
}

nav img {
  object-fit: cover;
  height: 3.8em;
  width: 5em;
  border-radius: 1em;
}

nav ul {
  display: flex;
  align-items: center;
  border-radius: 0.8em;
  overflow: hidden;
}

nav li,
nav button {
  padding: 1.3em 4.7em;
  background-color: #050505;
  font-family: NavFont;
  color: #bff102;
  font-size: 20px;
}

nav li:hover,
nav button:hover {
  background-color: #bff102;
  border-radius: 0.5em;
  color: #050505;
  transition: 0.4s;
}

nav li:hover a,
nav button:hover a {
  color: #050505;
}

.btn-contact {
  border-right: #bdf1023e solid 1px;
}

.btn-projects {
  border-right: #bdf1023e solid 1px;
}

.btn-works {
  border-right: #bdf1023e solid 1px;
}

span {
  display: flex;
  align-items: center;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 280px) {
  .navbar {
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  .menu-open ul {
    display: block;
  }

  .menu-icon {
    display: block;
  }

  .navbar:not(.menu-open) ul {
    display: none;
  }

  nav {
    margin-top: 2em;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 3em;
  }
}
