@font-face {
  font-family: NavFont;
  src: url(../../fonts/Inter-Regular.ttf) format("truetype");
}
nav {
  display: flex;
  padding: 2em 2em;
  color: #bff102;
  justify-content: space-evenly;
  & img {
    object-fit: cover;
    height: 3.8em;
    width: 5em;
    border-radius: 1em;
  }
  & ul {
    display: flex;
    align-items: center;
    border-radius: 0.8em;
    overflow: hidden;
  }
  & li,
  button {
    padding: 1.3em 4.7em;
    background-color: #050505;
    font-family: NavFont;
    color: #bff102;
    font-size: 20px;
  }
  & li:hover,
  button:hover {
    background-color: #bff102;
    border-radius: 0.5em;
    color: #050505;
  }
  & li:hover a {
    color: #050505;
  }
}

.btn-contact {
  border-right: #bdf1023e solid 1px;
}

.btn-projects {
  border-right: #bdf1023e solid 1px;
}
.btn-works {
  border-right: #bdf1023e solid 1px;
}

span {
  display: flex;
  align-items: center;
}
