@font-face {
  font-family: NavFont;
  src: url(../../fonts/Inter-Regular.ttf) format("truetype");
}

nav {
  display: flex;
  margin: 4em 0 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #1b2b1c;
  color: #bff102;
  justify-content: space-evenly;
}

.logo {
  object-fit: cover;
  height: 3.8em;
  width: 5em;
  border-radius: 1em;
}

nav ul {
  display: flex;
  align-items: center;
  border-radius: 0.8em;
  overflow: hidden;
}

nav li,
nav button {
  padding: 1.3em 4.7em;
  background-color: #050505;
  font-family: NavFont;
  color: #bff102;
  font-size: 20px;
  transform: none;
  opacity: 1;
}

nav li:hover,
nav button:hover {
  background-color: #bff102;
  border-radius: 0.5em;
  color: #050505;
  transition: 0.4s;
}

nav li:hover a,
nav button:hover a {
  color: #050505;
}

.btn-contact {
  border-right: #bdf1023e solid 1px;
}

.btn-projects {
  border-right: #bdf1023e solid 1px;
}

.btn-works {
  border-right: #bdf1023e solid 1px;
}

span {
  display: flex;
  align-items: center;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 280px) {
  .navbar {
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  .menu-open {
    background-color: #1b2b1cc6;
    height: 100vh;
  }

  .menu-open ul {
    display: flex;
    flex-direction: column;
    grid-row: 2;
    grid-column: 1 / span 2;
    align-items: normal;
    margin-bottom: 50%;
  }

  .menu-open li,
  button {
    font-size: 1em;
    padding: 5vh;
    text-align: center;
  }

  .menu-icon {
    display: block;
    grid-row: 1;
    grid-column: 1;
    & img {
      border-radius: 0;
      margin-top: 5%;
      color: #bff102;
    }
  }

  .navbar:not(.menu-open) ul {
    display: none;
  }

  nav {
    margin-top: 2em;
    padding: 0 1em;
    display: grid;
    direction: rtl;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  & a {
    grid-row: 1;
    grid-column: 2;
  }

  .btn-projects,
  .btn-contact,
  .btn-works {
    border-right: none;
  }
}
