.g-container-dataStudies {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2em;
  margin-top: 2em;
  & h2 {
    padding: 1em 0.5em;
  }
}

.studies-block {
  border-top: #bff102 2px solid;
  width: 21em;
}

.studies-year {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .studies-block {
    width: 100%;
  }
}
