.g-container-dataStudies {
  display: flex;
  flex-direction: column;
  font-family: AzeretL;
  padding-bottom: 5em;
  margin-top: 80px;
  gap: 2em;
  padding-left: 15em;
  margin-top: 2em;
  & h2 {
    padding: 1em 0.5em;
  }
}

.studies-block {
  border-top: #bff102 2px solid;
  width: 21em;
}

.studies-year {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .studies-block {
    width: 100%;
    & p {
      margin-left: 15px;
    }
  }

  .g-container-dataStudies {
    align-items: normal;
    padding-left: 0;
    & div {
      padding: 0 !important;
      align-items: flex-start;
    }
    & h2 {
      padding: 1em 0 0;
      border-top: solid 2px #bff102;
    }
  }

  .g-container-dataStudies {
    align-items: normal;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .g-container-dataStudies {
    padding-left: 0;
  }
}
