.g-container-dataStudies {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.study-block hr {
  background-color: #bff102;
  margin-bottom: 10px;
  height: 2px;
  border: none;
  width: 50vw;
}
