@font-face {
  font-family: RG;
  src: url(./fonts/AzeretMono-Regular.ttf) format("truetype");
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  background-color: #1b2b1c;
}

#root {
  width: 100%;
}

.faq-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  font-family: RG;
  font-size: 10em;
}
