@font-face {
  font-family: RandomMedium;
  src: url(../../fonts/RG-StandardMedium.ttf) format("truetype");
}
@font-face {
  font-family: AzeretL;
  src: url(../../fonts/AzeretMono-ExtraLight.ttf) format("truetype");
}

.g-container-roadmap {
  background-color: #050505;
  border-radius: 2em;
  margin-top: 200px;
  padding: 5em 2em 0 5em;
}

.g-container-dataWorks {
  display: flex;
  font-family: AzeretL;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 80px;
  gap: 2em;
  & h2 {
    padding-right: 1em;
  }
}

.container-works-header {
  display: flex;
  justify-content: space-between;
}

.btn-download-works {
  display: flex;
  align-items: self-start;
  & button {
    color: #bff102;
    font-family: AzeretL;
    margin-left: 10px;
  }
  & img {
    width: 1.5em;
    height: 1.5em;
    object-fit: cover;
  }
}

h2 {
  color: #bff102;
  font-family: RandomMedium;
  font-size: 80px;
  line-height: 70px;
  margin-bottom: 50px;
}

.h2-works {
  width: 22vw;
}

.sentence-works {
  color: #bff102;
  font-family: AzeretL;
}

.works-year {
  margin-bottom: 30px;
  margin-top: 30px;
}

.works-block {
  width: 21em;
  border-top: 2px solid #bff102;
}

.btn-download {
  color: #bff102;
  font-family: AzeretL;
  margin-top: 4px;
  margin-left: 4px;
}

@media screen and (max-width: 767px) {
  .works-block {
    width: 100%;
  }

  .g-container-dataWorks {
    align-items: normal;
    & div {
      padding: 0 !important;
      align-items: flex-start;
    }
    & h2 {
      padding: 0;
    }
  }

  .g-container-roadmap {
    padding: 0;
    margin-top: 5em;
    & h2 {
      text-align: center;
    }
  }

  .h2-works {
    width: 100%;
  }

  .sentence-works {
    text-align: center;
  }

  .btn-download-works {
    justify-content: center;
    margin-bottom: 50px;
  }

  .container-works-header {
    flex-direction: column-reverse;
    padding-top: 30px;
  }
}
